# Web & API
fastapi==0.110.0
uvicorn[standard]==0.27.1
httpx
requests==2.31.0

# Database & Env
supabase==2.3.7
python-dotenv==1.0.1

# AI & Audio (Version stable recommandée)
openai-whisper
numpy==1.26.4

# Validation & Tests
pydantic==2.6.3
pydantic-settings==2.2.1
pytest==8.0.2
requests-mock==1.11.0